@model Guessing_Game.Models.Person



<div class="row">
    <div class="col-md-1">@Model.PersonId</div>
    <div class="col-md-3">@Model.Name</div>
    <div class="col-md-3">@Model.PhoneNumber</div>
    <div class="col-md-3">@Model.CityId</div>
    <div class="col-md-2"><td><a asp-action="Remove" asp-controller="People" asp-route-personId="@Model.PersonId">Remove</a></td></div>
</div>


