@model List<Guessing_Game.Models.Person>

<div class="row" >
    <div class="col-md-1">#</div>
    <div class="col-md-3">Name</div>
    <div class="col-md-3">City</div>
    <div class="col-md-3">Phone Number</div>
    <div class="col-md-2">Link to delete</div>
</div>
 <br />

@foreach(var item in Model){

    <div class="row">
        <div class="col-md-1">@item.Id</div>
        <div class="col-md-3">@item.Name</div>
        <div class="col-md-3">@item.City</div>
        <div class="col-md-3">@item.PhoneNumber</div>
        <div class="col-md-2">@Html.ActionLink("Delete user", "RemoveUser","People", new {id = @item.Id})</div>
        
        
    </div>

   
}

    
