@using Guessing_Game.Models
@model Guessing_Game.Models.PeopleViewModel

@{
    ViewData["Title"] = "Index";
}

<br></br>


@if (User.Identity.IsAuthenticated)
{
    <form method="get" action="/People">
    <label></label>
    <input type="text" label="" name="searchQuery" />
    <input type="submit" value="Search" />
</form>
}


<br></br>

@if (User.Identity.IsAuthenticated)
{
    <form asp-action="Index"  method="post">
    <div asp-validation-summary=All class="text-danger"></div>
    <div class="form-group">
        <input name="NewName" type="text" placeholder="Name" />
    </div>
    @*<span asp-validation-for=@Model.person class="text-danger"> </span>*@
    <div class="form-group">
        <input  name="NewPhone" type="text" placeholder="Phone number" />
    </div>
    @*<span asp-validation-for="@Model.person" class="text-danger"></span>*@
    <div class="form-group">
        <label>Select City</label>
       <select name="CityName" class="form-control" asp-items="ViewBag.Cities" ></select>
    </div>
    <div class="form-group">
        <label>Select Language</label>
       <select name="LanguageName" class="form-control" asp-items="ViewBag.Languages" ></select>
    </div>
    <input type="submit" value="Add Person" class="btn btn-primary" />
    </form>
}
else
{
    <div> Please log in to see the list of people. </div>
}




<br></br>



<div class="row" >
    <div class="col-md-2">#</div>
    <div class="col-md-2">Name</div>
    <div class="col-md-2">Phone Number</div>
    <div class="col-md-2">City</div>
    <div class="col-md-2">Language</div>
    @if (User.IsInRole("Admin"))
    {
        <div class="col-md-1">Link to delete</div>
    }
    @if (User.IsInRole("Admin"))
    {
        <div class="col-md-1">Edit</div>
    }
    @if (User.IsInRole("User"))
    {
        <div class="col-md-2">Edit</div>
    }
    
</div>
    <br />

@if (User.Identity.IsAuthenticated)
{
    @foreach(Person item in Model.people)
     {
       <div class="row">
            <div class="col-md-2">@item.PersonId</div>
            <div class="col-md-2">@item.Name</div>
            <div class="col-md-2">@item.PhoneNumber</div>
            <div class="col-md-2">@((ViewBag.personCities as List<City>).Find(d => d.CityId == item.CityId).CityName)</div>
            <div class="col-md-2">@((ViewBag.langs as List<Language>).Find(d => d.LanguageId == (ViewBag.personlangs as List<PersonLanguage>).Find(c => c.PersonId == item.PersonId).LanguageId).LanguageName) </div>
            @if (User.IsInRole("Admin"))
            {
                <div class="col-md-1"><a asp-action="Remove" asp-controller="People" asp-route-personId="@item.PersonId">Remove</a></div>
            }
            @if (User.IsInRole("Admin"))
            {
                <div class="col-md-1"><a asp-action="Edit" asp-controller="People" asp-route-personId="@item.PersonId">Edit</a></div>
            }
            @if (User.IsInRole("User"))
            {
                <div class="col-md-2"><a asp-action="Edit" asp-controller="People" asp-route-personId="@item.PersonId">Edit</a></div>
            }

            
            
        </div>

     }
}






